footer(class="footer")
  div(class="container-fluid p-3")
    div(class="row")
      div(class="col-md-6") 2020 © #{personal.firstName} #{personal.lastName} - #{personal.website}
      div(class="col-md-6")
        div(class="text-md-right footer-links d-none d-md-block")
          a.p-3(href="javascript: void(0);") About
          a.p-3(href="javascript: void(0);") Support
          a.p-3(href="javascript: void(0);") Contact Us
script(src="../assets/fonts/feather-icons/dist/feather.js")
script(src="../assets/js/datepicker.js")
script(src="../assets/js/core.min.js")
script.
    var mainWrapper = document.querySelector('.main-wrapper');
    var toggleBtn = document.querySelector('.sidebar-toggler');
    var sidebar = document.querySelector('.sidebar');
    var sidebarBody = document.querySelector('.sidebar-body');

  	toggleBtn.addEventListener('click', function() {
      if(mainWrapper.className == "main-wrapper sidebar-open") {
        toggleBtn.className = "sidebar-toggler active";
        mainWrapper.className="main-wrapper sidebar-closed"
      }
      else {
        toggleBtn.className = "sidebar-toggler not-active"
        mainWrapper.className="main-wrapper sidebar-open"
      }
    });

    $( document ).ready(function() {
      $('.main-wrapper').addClass("sidebar-open");
    });

    $(sidebarBody).hover(
    function () {
      console.log("hover");
      if ($('.main-wrapper').hasClass('sidebar-closed')){
        ($('.main-wrapper')).addClass("open-sidebar-closed");
      }
    },
    function () {
      console.log("not hover");
      if ($('.main-wrapper').hasClass('sidebar-closed')){
        ($('.main-wrapper')).removeClass("open-sidebar-closed");
      }
    });